.block-title {
    text-align: center;

    h3 {
        white-space: nowrap;
    }

    span {
        display: block;
        margin-top: 10px;
    }

    @include breakpoint(large) {
        padding: 0 300px;
    }
}