header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 50px;
    background-color: $whiteColor;

    @include breakpoint(medium) {
        padding-top: 40px;
        padding-bottom: 45px;
    }


    @include breakpoint(small) {
        padding-top: 35px;
        padding-bottom: 40px;
    }


    @include breakpoint(extra-small) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}