.logo {
    display: inline-block;

    @include breakpoint(small) {
        img {
            width: 200px;
        }
    }


    @include breakpoint(extra-small) {
        img {
            width: 150px;
        }
    }
}